import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

customer_df = pd.read_csv("C:/Users/admin/Downloads/archive (12)/customer_churn.csv")
print(customer_df.shape)
print(customer_df.Churn.value_counts())

customer_df_rs = customer_df.sample(100,random_state=1)
Y=customer_df_rs['Churn']
Xs = customer_df_rs.drop(columns=['Churn'])
print(customer_df_rs.shape)

print(customer_df_rs.Churn.value_counts())

n,s=len(customer_df),100
print(n,s)
r = s/n
print('Ratio of each Churn class in sample:',r)
sample_df = customer_df.groupby('Churn').apply(lambda sdf: sdf.sample(round(len(sdf)*r)))
print(sample_df.Churn.value_counts())

customer_df.Churn.value_counts().plot.bar()

sample_df.Churn.value_counts().plot.bar()

n,s=len(customer_df),50
sample_df = customer_df.groupby('Churn').apply(lambda sdf: sdf.sample(50))
print(sample_df.Churn.value_counts())

sample_df.Churn.value_counts().plot.bar()


